*.sh
org.greenrobot.eventbus-3.0.0.ane
com.android.support.support-v4-25.3.1.ane
com.google.android.gms.play-services-base-11.2.0.ane
com.google.android.gms.play-services-location-11.2.0.ane
com.google.android.gms.play-services-maps-11.2.0.ane
com.tuarua.frekotlin.ane
